
{% include "store/base.html" %}

{% load static %}

{% load crispy_forms_tags %}


{% block content %}

<style>


    body{


        background-color: gray;

    }



</style>


<body>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout">

        <h4> <i class="fa fa-hand-paper-o" aria-hidden="true"></i> &nbsp; Bem-vindo, {{user}} </h4>

        <hr>

        <p> Este é o seu painel onde você pode executar qualquer um dos seguintes: </p>

        <li> Acompanhe seus pedidos </li>
        <li> Gerenciar sua conta </li>


    </div>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout">

        <h4> <i class="fa fa-list-alt" aria-hidden="true"></i> &nbsp; Acompanhe seus pedidos </h4>

        <hr>

        <p> Acompanhe todos os seus pedidos aqui... </p>

        <a class="btn btn-primary navbar-btn text-white" type="button"  href="{% url 'track-orders' %}"> Meus pedidos </a>

    </div>

    <br>


    <div class="container bg-white shadow-md p-5 form-layout">

        <h4> <i class="fa fa-address-book" aria-hidden="true"></i> &nbsp; Gerenciar sua conta </h4>

        <hr>

        <p> Atualizar ou excluir sua conta </p>


        
        

        <a class="btn btn-primary navbar-btn text-white" type="button"  href="{% url 'profile-management' %}"> Gerenciamento de perfis </a>

    </div>

    <br>


    <div class="container bg-white shadow-md p-5 form-layout">

        <h4> <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> &nbsp; Gerenciar envio </h4>

        <hr>

        <p> Digite um endereço de entrega </p>


        <a class="btn btn-primary navbar-btn text-white" type="button"  href="{% url 'manage-shipping' %}"> Gerenciar envio </a>

    </div>

    <br>




{% endblock %}




