
{% include "store/base.html" %}

{% load static %}

{% load crispy_forms_tags %}


{% block content %}

    <style>


        body{


            background-color: gray;

        }



    </style>




    <body>

        <br>

        <div class="container bg-white shadow-md p-5 form-layout">

            <h3> Entre em sua Conta </h3>

            <hr>

            <br>

            <form method="POST" autocomplete="off">

                {% csrf_token %}

                <div class="form-outline form-white mb-4">
                    <label  class="form-label" for="id_username">Usuário*</label>
                    <input name="username" type="text"  class="form-control form-control-lg" />
                </div>


                <div class="form-outline form-white mb-4">
                    <label  class="form-label" for="id_password">Senha*</label>
                    <input name="password" type="password"  class="form-control form-control-lg" />
                </div>

                
                <button type="submit" class="btn btn-primary navbar-btn text-white w-100 p-2"> <i class="fa fa-key" aria-hidden="true"></i> &nbsp; Entrar </button>

                <br> <br>

                {{form.non_field_errors}}

                <div class="text-center">

                    <a href="{% url 'register' %}"> Não tem uma conta? </a>


                    <br> <br>

                    <a href="{% url 'reset_password' %}"> Esqueceu sua senha? </a>


                </div>


            </form>





        </div>



    </body>

    <br> <br>


{% endblock %}












