
{% include "store/base.html" %}

{% load static %}

{% load crispy_forms_tags %}


{% block content %}

    <style>


        body{


            background-color: gray;

        }
        



    </style>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout ">

        <h3> <i class="fa fa-list-alt" aria-hidden="true"></i> &nbsp; Meus pedidos </h3>

        <p> Veja todos os seus pedidos. </p>

        <hr>


    </div>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout ">

        {% for order in orders %}

            <strong> <i class="fa fa-list-alt" aria-hidden="true"></i> &nbsp; <a class="text-decoration-none" href="{% url 'order-all' order.id %}">Pedido Nº {{order.id}} </a></strong>
            
            <br> <br>

            {{order.product}}

            <br> <br>

            Quantidade x {{order.quantity}}

            <br> <br>

            R$ {{order.price|cut:".00"|add:",00"}}

            <br> <br>

            <hr>


        {% endfor %}
        {% comment %} {% for cart_t in cart_total %}
        {{cart_t.id}}
        {% endfor %} {% endcomment %}

    </div>

    <br>

{% endblock %}